// Color
$yellow: #dab33e;
$yellow2: #dab33d;
$yellow3: #CC9900;
$white: #fff;
$grey: #E6E6E6;
$grey2: #9B9C9D;
$black: #000;

// Other
$color-light: $white;
$color-less-light: $grey;
$color-less-dark: $grey2;
$color-dark: $black;
$color-theme: $yellow;
$color-theme-dark: $yellow2;

// Font
$font-default: 'Yeseva One', cursive;
$font-variant:  'Lato', sans-serif;
$font-variant-light: 'Lato light', sans-serif;
