.button {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700px;
  margin-top: 20px;
  text-decoration: none;
  padding: 15px 50px 15px 50px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
}

.button:focus {
  text-decoration: none;
}

.button-black {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgb(0, 0, 0);
}

.button-black:hover {
  text-decoration: none;
  color: #fff;
  background: #000;
}

.button-white {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgb(255, 255, 255);
  margin-left: 30px;
}

.button-white:hover {
  text-decoration: none;
  color: #fff;
  background: 0 0;
}

.btn-default {
  background-color: #dab33e;
  color: #fff;
  border-color: #dab33d;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 16px;
  padding: 7px 60px;
  font-weight: lighter;
  margin-top: 30px;
}

.btn-default:hover {
  background-color: rgba(218, 179, 62, 0.8);
  color: #fff;
  border-color: #dab33d;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 16px;
  padding: 7px 60px;
  font-weight: lighter;
  margin-top: 30px;
}

.btn-default:active {
  background-color: rgba(218, 179, 62, 0.8);
  color: #fff;
  border-color: #dab33d;
  outline-color: #dab33d;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 16px;
  padding: 7px 60px;
  font-weight: lighter;
  margin-top: 30px;
}

.btn-default:focus {
  background-color: rgba(218, 179, 62, 0.8);
  color: #fff;
  border-color: #dab33d;
  outline-color: #dab33d;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 16px;
  padding: 7px 60px;
  font-weight: lighter;
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .button-white {
    margin-left: 0;
  }
}
