@media screen and (max-width: 640px) {
  .navbar-brand img {
    width: 120px;
    height: 75px;
  }
}

.navbar-brand {
  padding-top: 0;
}

nav ul {
  height: 70px;
  padding-top: 40px;
}

.navbar-links {
  color: #fff;
  padding: 0 10px 0 10px;
  font-size: 16px;
  font-weight: lighter;
}

.navbar-links:hover, .navbar-links:active, .navbar-links:focus {
  color: #fff;
  border-top: 3px solid #fff;
  text-decoration: none;
  padding-top: 42px;
}

.navbar-social {
  font-size: 20px;
  color: #dab33e;
}

.navbar-social:hover {
  color: #dab33e;
  border-top: 3px solid #dab33e;
  padding-top: 39px;
}

.navbar-social:focus {
  color: #dab33e;
}

/* Navbar dropdown menu */
.navbar-dropdown-menu {
  margin-top: 5px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #000;
  height: 390px;
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #fff !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.dropdown-menu li > a:hover {
  background: transparent !important;
}

.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: #000;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-item {
  position: relative;
  top: -25px;
  right: 20px;
}

.dropdown > i {
  font-size: 30px;
  color: #fff;
}

.navbar-links-dropdown {
  color: #fff !important;
}

.navbar-links-dropdown:hover {
  color: #fff !important;
  border-left: 3px solid #fff;
  text-decoration: none;
  background: transparent !important;
}

.navbar-social-dropdown {
  color: #dab33e !important;
}

.navbar-social-dropdown:hover {
  color: #dab33e !important;
  border-left: 3px solid #dab33e;
  background: transparent !important;
}
