.form-control:focus {
  border-color: #dab33e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 179, 62, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 179, 62, 0.6);
}

#select {
  position: relative;
}

.fa-caret-down {
  position: absolute;
  top: 50%;
  margin-top: 5px;
  right: 8%;
  pointer-events: none;
}
