/* =======================
   Layout/Footer
   ======================= */

.l-footer {
  background-color: $color-dark;
  color: $color-less-light;
}

.font-variant--light {
  font-family: $font-variant-light;
}

.font-variant {
  font-family: $font-variant;
}
