/* =======================
   Layout/Header
   ======================= */

.l-header {
 background: url(../img/header-bg.jpg);
 background-size: cover;
}

.l-banner {
  color: $color-light;
  text-align: center;
  padding: 120px 0 140px 0;
}

.l-banner h1 {
  font-family: $font-default;
  font-size: 70px;
  text-shadow: 0px 1px rgba($color-dark, 0.2);
  margin-bottom: 40px;
}
.l-banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba($color-light, 0.7);
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .l-banner h1 { font-size: 50px; }
  .l-banner { padding-top: 50px; }
}

@media screen and (max-width: 640px) {
  .l-banner h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
