/* =======================
   Layout/Ingredients
   ======================= */

#l-ingredients {
 background: url(../img/ingredients-bg.jpg);
 background-size: cover;
}

#l-ingredients-fine {
 color: #fff;
 background-color: rgba(0, 0, 0, 0.8);
 margin-top: 100px;
 margin-bottom: 100px;
 padding: 50px 60px 50px 60px;
}

#l-ingredients-fine p {
 padding-top: 30px;
 padding-bottom: 30px;
}
