/* =======================
   Layout/Menu
   ======================= */

#l-menu {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url(../img/cream-pixels.png);
}

.l-menu-col { padding: 0 30px 0 30px; }

.l-menu-list { padding: 0 10px 0 10px; }

.l-menu-special {
  border: 1px solid $color-theme;
  padding: 0 10px 0 10px;
}

.l-menu-special-item {
  background-color: $color-theme;
  color: $color-light;
  position: relative;
  right: 15px;
  padding: 0;


  p { margin-bottom: 0; }
}
